<%- include ('partials/__header');  %> 



<div class="container-fluid col-md-6 ml-5 pt-5">

    <div class="card">
        

        <div class="card-header"><strong>¿A qué técnico le asignarás esta avería? Ticket N° <%=id%></strong></div>

        <div class="card-body">

<form action="/pedido/asignar/<%=id%>" method="POST">
    
    <div class="form-group">
        <% for(var i = 0; i < tecnicos.length; i++){ %>

            <label><input type="checkbox" name="tecnicoId" value="<%=tecnicos[i].id%>"> <%=tecnicos[i].nombre%> <%=tecnicos[i].apellido%></label><br>

        <%}%>
    </div>

    <div class="form-group">
    <label for="">Fecha de asignación del pedido</label>
    <input type="date" name="fecha_asignacion" value="">
    </div>

    <div class="form-group">
        <label for="">Hora de asignación del pedido</label>
        <input type="time" name="hora_asignacion" value="">
        </div>

    <div class="form-group">
        <label for="">Fecha de ejecución estimada del pedido</label>
        <input type="date" name="fecha_ejecucion">
        </div>


            <button type="submit" class="btn btn-primary">Asignar técnico/s</button>





</form>
</div>
</div>

</div>


<%- include ('partials/__footer');  %> 