<%- include ('partials/__header');  %> 


<div class="container pt-5">
    <%const arrtecnico = []%>
    <% var tecnico_pedido = pedidoAsignado[0].tecnicoId %>
    <%console.log(typeof(tecnico_pedido))%>
    <% if(typeof(tecnico_pedido) != 'number'){%>
    <%const arrtecnico = tecnico_pedido.split(",")%>
    <%var filtrado = tecnicos.filter(function(e,key) {%>
        <%return e.id = arrtecnico[key];%>
          <%})%>
<%} else {%>
<%const arrtecnico = tecnico_pedido %>
<%console.log(arrtecnico)%>
<%var filtrado = tecnicos.filter(function(e,key) {%>
    <%return e.id == arrtecnico%>
      <%})%>
      <%}%>





    
   
    <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center"> <strong> Detalle de asignacion </strong> </div>
                            <div class="card-body">
                                    <th>
                                        <td><strong>Nro Ticket:</strong> <%=pedido[0].id%></td><br>
                                        <td><strong>Interno involucrado:</strong> <%=pedido[0].interno%></td><br>
                                        <td> <strong>Fecha y hora pedido:</strong> <%=pedido[0].fecha_apertura%> <%=pedido[0].hora_apertura%></td><br>
                                        <td> <strong>Cliente:</strong> <%=pedido[0].emisor %></td><br>
                                        <td><strong>Solicitud:</strong> <%=pedido[0].solicitud %></td><br>
                                        <td><strong>Indicaciones:</strong> <%=pedido[0].indicaciones %></td><br>
                                        <td><strong>Tecnico/Tecnicos Asignados:</strong>
                                        <%for(var i = 0; i < filtrado.length; i++){%>
                                        </td><li><%=filtrado[i].nombre%> <%=filtrado[i].apellido%></li>   </td>
                                        <%}%>
                                        <td><strong>Fecha y hora de Asignacion a Tecnico:</strong> <%=pedidoAsignado[0].fecha_asignacion%> <%pedidoAsignado[0].hora_asignacion%></td><br>
                                        <td><strong>Estimacion de ejecución:</strong>   <%=pedidoAsignado[0].fecha_ejecucion%></td><br>
                                        <td><strong>Ubicacion del equipo:</strong> <%=pedido[0].ubicacion_eqp %></td> <br>
                                        

                                    </th>
                                    
                            </div>

            </div>

    </div>
</div>

</div>






<%- include ('partials/__footer');  %> 