<%- include ('partials/__header');  %> 


<div class="container pt-5">
    <%console.log(pedidoAsignado[0])%>
    <% var tecnico_pedido = pedidoAsignado[0].tecnicoId%>
    <%console.log(pedidoAsignado[0])%>
    <%console.log(typeof(tecnico_pedido))%>
     <%const arrtecnico = tecnico_pedido%>
    <%console.log(arrtecnico)%>
    <%if(arrtecnico.length == 1){%>
    <%var filtrado = []%>
    <%tecnicos.forEach(function(tecnico,index){%>
        <%console.log(arrtecnico)%>
       <%if(tecnico.id == arrtecnico){%>
        <%filtrado.push(tecnico);%>
    <%}%>
   <% })%>
<%} else {%>
<%var filtrado = []%>
  <%arrtecnico.filter(e=>{%>
         <%console.log(e)%>
        <%var res = tecnicos.find((tecnico)=>{%>
         <%if(tecnico.id == e){%>
            <%return tecnico%>
            <%}%>
         <%});%> 
         <%filtrado.push(res)%>
<%})%>
         
<%}%>


    <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center"><img src="/img/logo.png" width="155"></div>
                    <div class="card-header text-center"> <strong> Detalle de Cierre </strong> </div>
                            <div class="card-body">
                                    <th>
                                        <td><strong>Nro Ticket:</strong> <%=pedido[0].id%></td><br>
                                        <td><strong>Interno involucrado:</strong> <%=pedido[0].interno%></td><br>
                                        <td> <strong>Fecha y hora pedido:</strong> <%=pedido[0].fecha_apertura%> <%=pedido[0].hora_apertura%></td><br>
                                        <td><strong>Fecha y hora de Asignacion a Tecnico:</strong> <%=pedidoAsignado[0].fecha_asignacion%> <%=pedidoAsignado[0].hora_asignacion%></td><br>
                                        <td><strong>Estimacion de ejecución:</strong>   <%=pedidoAsignado[0].fecha_ejecucion%></td><br>
                                        <td><strong>Fecha y hora de Cierre del pedido:</strong>   <%=cierres[0].fecha_cierre%> <%=cierres[0].hora_cierre%></td><br>
                                        <td><strong>Solicitud:</strong> <%=pedido[0].solicitud %></td><br>
                                        <td><strong>Indicaciones:</strong> <%=pedido[0].indicaciones %></td><br>
                                        <td><strong>Tecnico/Tecnicos Asignados:</strong>
                                        <%for(var i = 0; i < filtrado.length; i++){%>
                                        </td><li><%=filtrado[i].nombre%> <%=filtrado[i].apellido%></li>   </td>
                                        <%}%>
                                        <td><strong>Resolucion Tecnica:</strong> <%=cierres[0].resolucion%></td> <br>
                                        <td><strong>Tipo de Avería encontrada</strong> <%=cierres[0].tipo_averia%></td><br>
                                        <td><strong>Aprobación del Cliente</strong> <%=cierres[0].aprobacion%></td><br>
                                        <td><strong>Observaciones</strong> <%=cierres[0].observaciones%></td><br>
                                        <td><strong>Reporte tecnico</strong> <br></td>
                                        
                                        <form action="/cierres/upload/<%=cierres[0].id%>" method="post" enctype="multipart/form-data"> <br>

                                            <%if(cierres[0].reporte == undefined){%>
                                                <input type="file" name="reporte"> <strong> Reporte</strong> <br>
                                                <input type="file" name="ticket_firmado"> <strong> Ticket - Firmado </strong><br>
                                                <br>
                                                <button class="btn btn-danger" type="submit">Enviar</button>
                                           <% }else{%>
                                      
                                            <%if(cierres[0].reporte.length > 24 && cierres[0].ticket_firmado.length == 24){ %>
                                       
                                            <td><a class="btn btn-danger" download href="../upload/<%=cierres[0].reporte%>">Descargar Reporte</a></td>
                                            <input type="file" name="ticket_firmado"> <strong> Ticket - Firmado </strong><br>
                                            <br>
                                            <button class="btn btn-danger" type="submit">Enviar</button>
                                            <br>
                                            
                
                                        
                                    <%}if(cierres[0].reporte.length == 24 && cierres[0].ticket_firmado.length > 24){%>
                                        <input type="file" name="reporte"> <strong> Reporte</strong> <br>
                                        <td><a class="btn btn-danger" download href="../upload/<%=cierres[0].ticket_firmado%>">Descargar Ticket Firmado</a></td><br>
                                        <br>
                                        <button class="btn btn-danger" type="submit">Enviar</button>
                                        <%}else if(cierres[0].reporte.length && cierres[0].ticket_firmado.length > 24){%>
                                            <td><a class="btn btn-danger" download href="../upload/<%=cierres[0].ticket_firmado%>">Descargar Ticket Firmado</a></td>
                                            <td><a class="btn btn-danger" download href="../upload/<%=cierres[0].reporte%>">Descargar Reporte</a></td>
                                        <%}%>

                                           <%}%>
                                        
                                    </form>
                                   
                                    
                                       
                                        

                                    </th>
                                    
                            </div>

            </div>

    </div>
</div>

</div>








<%- include ('partials/__footer');  %> 