<%- include ('partials/__header');  %> 


<div class="container pt-5">
    <%const arrtecnico = []%>
    <%console.log(pedidoAsignado[0])%>
    <% var tecnico_pedido = pedidoAsignado[0].tecnicoId%>
    <%console.log(pedidoAsignado[0])%>
    <%console.log(tecnico_pedido)%>
    <% if(typeof(tecnico_pedido) != 'number'){%>
    <%var filtrado = tecnicos.filter(function(e,key) {%>
        <%return e.id = arrtecnico[key];%>
          <%})%>
          <%console.log(filtrado);%>
<%} else {%>
<%const arrtecnico = tecnico_pedido %>
<%console.log(arrtecnico)%>
<%var filtrado = tecnicos.filter(function(e,key) {%>
    <%return e.id == arrtecnico%>
      <%})%>
      <%}%>





    
   
    <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center"><img src="/img/logo.png" width="155"></div>
                    <div class="card-header text-center"> <strong> Detalle del ticket </strong> </div>
                            <div class="card-body">
                                    <th>
                                        <td><strong>N° Ticket:</strong> <%=pedido[0].id%></td><br>
                                        <td><strong>Interno involucrado:</strong> <%=pedido[0].interno%></td><br>
                                        <td> <strong>Fecha y hora del pedido:</strong> <%=pedido[0].fecha_apertura%> <%=pedido[0].hora_apertura%></td><br>
                                        <td> <strong>Cliente:</strong> <%=pedido[0].emisor %></td><br>
                                        <td><strong>Solicitud:</strong> <%=pedido[0].solicitud %></td><br>
                                        <td><strong>Indicaciones:</strong> <%=pedido[0].indicaciones %></td><br>
                                        <td><strong>Técnico/s asignado/s:</strong>
                                        <%for(var i = 0; i < filtrado.length; i++){%>
                                        </td><li><%=filtrado[i].nombre%> <%=filtrado[i].apellido%></li>   </td>
                                        <%}%>
                                        <td><strong>Fecha y hora de asignacion a técnico/s:</strong> <%=pedidoAsignado[0].fecha_asignacion%> <%=pedidoAsignado[0].hora_asignacion%></td><br>
                                        <td><strong>Estimación de ejecución:</strong>   <%=pedidoAsignado[0].fecha_ejecucion%></td><br>
                                        <td><strong>Ubicación del equipo:</strong> <%=pedido[0].ubicacion_eqp %></td> <br>
                                        

                                    </th>
                                    <hr>
                                    <br>
                                    <br>
                                
                                    <td><strong>Firma de autorización del cliente: </strong>_____________________________</td>

                            </div>

                          


                            

            </div>

    </div>
</div>

</div>






<%- include ('partials/__footer');  %> 