<%- include ('partials/__header');  %> 


<% if(success_msg && success_msg.length > 0) { %> 
   
    <div  class="alert alert-success alert-dismissible fade show" role="alert" id="error">
        <%=success_msg%>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
         
        </button>
      </div>

<% } %> 


<% if(error_msg && error_msg.length > 0) { %> 
   
  <div  class="alert alert-danger alert-dismissible fade show" role="alert" id="error">
      <%=error_msg%>

      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       
      </button>
    </div>

<% } %> 


<button type="button" id="boton_prioridad"class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
    Prioridades
  </button>

  
       <!-- Modal -->
       <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Prioridades</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ul>
                <li>1 - Avería con caracter urgente</li>
                <li>2 - Avería con caracter importante </li>
                <li>3 - Capacitacion</li>
                <li>4 - Otros</li>           
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    
       <!-- Button trigger modal -->

<div class="container-fluid">
    <h1 class="text-center">Registro de Averías</h1>
    <a id="boton" class="btn btn-danger" href="/pedido/nuevo">Agregar Pedido</a>
</div>

<div class="container-fluid text-right">
    <h3><span id="fecha_hora"></span></h3>

</div>


<button type="button" id="boton_estado" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal2">
  Estado de TICKETS
</button>


     <!-- Modal -->
     <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel2"> Estado de TICKETS</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modal-estado">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  
     <!-- Button trigger modal -->






  <div class="container-fluid pt-3">
        <!--Tabla-->
        <div class="table-responsive">
        <table class="table table-hover" id="my_table">
        <thead>
        <tr>
        <th scope="col">N° Ticket</th>
        <th scope="col">Equipo</th>
        <th scope="col">Fecha / Hora apertura</th>
        <th scope="col">Solicitud</th>
        <th scope="col">Ubicación</th>
        <th scope="col">Solicitante</th>
        <th scope="col">Método</th>
        <th scope="col">Datos de contacto</th>
        <th scope="col">Indicaciones</th>
        <th scope="col">Prioridad</th>
        <th scope="col">Estado</th> 
        <th id="col-12" scope="col">Acciones</th>             
        </tr>
 
        </thead>

    
            <tbody  id="table_ticket">
            <% for(var i = 0; i < pedidos.length; i++){ %>
                <tr>
                    <td><a class="btn btn-danger mr-2" href="/pedido/<%=pedidos[i].id%>">x</a><%= pedidos[i].id %></td>
                    <td><%= pedidos[i].interno %></td>
                    <td>Fecha:<%= pedidos[i].fecha_apertura%> Hora:<%= pedidos[i].hora_apertura%></td>
                    <td><%= pedidos[i].solicitud %></td>
                    <td><%= pedidos[i].ubicacion_eqp %></td>
                    <td><%= pedidos[i].emisor %></td>
                    <td><%= pedidos[i].metodo_contacto %></td>
                    <td><%if(pedidos[i].tel_solicitante == ""){%>
                        <%=pedidos[i].mail_solicitante%>
                        <%} else {%>
                            <%=pedidos[i].tel_solicitante%>
                            <%}%>
                    </td>
                    <td><%= pedidos[i].indicaciones %></td>
                    <td><%= pedidos[i].prioridad %></td>
                    <td><%= pedidos[i].estado %></td>
                    <%if(pedidos[i].estado == 0){%>
                    <td><a class="btn btn-success" href="/pedido/asignar/<%= pedidos[i].id%>">Asignar pedido</a> 
                      <a class="btn btn-success mt-2" href="/pedido/edit/<%= pedidos[i].id%>">Editar</a>
                    </td>
              
                    <%}else{%>
                        <td><a class="btn btn-danger" href="/asignacion/<%= pedidos[i].id%>">Detalles de técnico asignado</a>
                          <a class="btn btn-danger" href="/pedido/cierre/<%=pedidos[i].id%>">Efectuar cierre</a></td>
          
                    <%}%>

                </tr>



                <%}%>

    
        </tbody>
  
        </table>
      </div> 
</div>
    



<%- include ('partials/__footer');  %> 