<%- include ('partials/__header');  %> 


<% if(success_msg && success_msg.length > 0) { %> 
   
    <div  class="alert alert-success alert-dismissible fade show" role="alert" id="error">
        <%=success_msg%>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
         
        </button>
      </div>

<% } %> 

<div class="container-fluid">



    <h1 class="text-center">Registro de Averías</h1>
      <h3 class="text-center">Favor de agregar un pedido de reparación</h3>

    <a id="boton" class="btn btn-danger" href="/pedido/nuevo">Agregar Pedido</a>
    
   
  
 


</div>





<div class="container-fluid pt-5">

    <div class="container-fluid">
        <!--Tabla-->
        <table class="table table-hover">
        <thead>
        <tr>
        <th>N° Ticket</th>
        <th>Equipo afectado</th>
        <th>Fecha / Hora apertura</th>
        <th>Solicitud</th>
        <th>Ubicación del equipo</th>
        <th>Solicitante</th>
        <th>Método de contacto</th>
        <th>Datos de contacto</th>
        <th>Indicaciones</th>
        <th>Prioridad</th>
        <th>Estado</th> 
        <th>Acciones</th>             
        </tr>
 
        </thead>
        <tbody>

            <% for(var i = 0; i < pedidos.length; i++){ %>
                <tr>
                    <td><a class="btn btn-danger mr-2" href="/pedido/<%=pedidos[i].id%>">x</a><%= pedidos[i].id %></td>
                    <td><%= pedidos[i].interno %></td>
                    <td>Fecha:<%= pedidos[i].fecha_apertura%> Hora:<%= pedidos[i].hora_apertura%></td>
                    <td><%= pedidos[i].solicitud %></td>
                    <td><%= pedidos[i].ubicacion_eqp %></td>
                    <td><%= pedidos[i].emisor %></td>
                    <td><%= pedidos[i].metodo_contacto %></td>
                    <td><%if(pedidos[i].tel_solicitante == ""){%>
                        <%=pedidos[i].mail_solicitante%>
                        <%} else {%>
                            <%=pedidos[i].tel_solicitante%>
                            <%}%>
                    </td>
                    <td><%= pedidos[i].indicaciones %></td>
                    <td><%= pedidos[i].prioridad %></td>
                    <td><%= pedidos[i].estado %></td>
                    <%if(pedidos[i].estado == 0){%>
                    <td><a class="btn btn-success" href="/pedido/asignar/<%= pedidos[i].id%>">Asignar pedido a técnico</a></td>
                    <td><a class="btn btn-success" href="/pedido/edit/<%= pedidos[i].id%>">Editar pedido</a></td>
                    <%}else{%>
                        <td><a class="btn btn-danger" href="/asignacion/<%= pedidos[i].id%>">Detalles de técnico asignado</a></td>
                        <td><a class="btn btn-danger" href="/pedido/cierre/<%=pedidos[i].id%>">Efectuar cierre</a></td>
                    <%}%>

                </tr>



                <%}%>

    
        </tbody>
        
        
        
        
        
        </table>
        
        </div>
    
    </div>







</div>
    



<%- include ('partials/__footer');  %> 